BOT_TOKEN=123456:replace_with_bot_token
ADMIN_IDS=123456789
CHANNEL_USERNAME=@your_channel
REQUIRED_CHANNELS=Asosiy kanal|@your_channel|https://t.me/your_channel;Maxfiy kanal|-1001234567890|https://t.me/+invite_link
CODES_CHANNEL_URL=https://t.me/askafilmlar
PROMO_CHANNEL_USERNAME=@askafilmlar
POST_CHANNEL_ID=-1003728451117
INSTAGRAM_URL=https://www.instagram.com/your_page
DB_PATH=data/kinobot.sqlite3
